.header{
    margin: 0 auto;
    background-color: rgb(198, 137, 255);
    border-radius: 10px;
    margin-top: 10px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
